.banner
	div(g="centered md-container lg-padding-t")
		h1 Open Source Tools
		div(g="xlg-padding-b")
			p(g="centered sm-padding-b") You, reading this, build things. Somewhere along the way everyone encounters similar problems, and . This is a collection of tools built by us to help lower the barrier of design.
			button(g="success") View all projects

div(g="lg-container md-padding-t center")
	h3(g="left") Frontend
	section#projects(g="between")
		div(g="6")
			a(href="state-toggle")
				img(g="circle sm-margin-r" src="media/state-toggle.png")
				div(g="column")
					h4 State-toggle
					p An HTML API to toggle states on web components through CSS animations.
				
		div(g="6")
			a(href="state-toggle")
				img(g="circle sm-margin-r" src="media/state-toggle.png")
				div(g="column")
					h4 Galaxy UI
					p A conversational front-end framework for prototyping interfaces.
		div(g="6")
			a(href="state-toggle")
				img(g="circle sm-margin-r" src="media/state-toggle.png")
				div(g="column")
					h4 State-toggle
					p An HTML API to toggle states on web components through CSS animations.
				
		div(g="6")
			a(href="state-toggle")
				img(g="circle sm-margin-r" src="media/state-toggle.png")
				div(g="column")
					h4 Galaxy UI
					p A conversational front-end framework for prototyping interfaces.

	hr(g="md-margin-tb")
	h3(g="left") Backend
	section#projects(g="between")
		div(g="6")
			img(g="circle sm-margin-lr" src="media/state-toggle.png")
			div(g="column")
				p Use markup to toggle web component states through CSS animations.
				
		div(g="6")
			img(g="circle sm-margin-lr" src="media/state-toggle.png")
			p Rapidly prototype layouts with Flexbox and modern web components.
		div(g="6")
			img(g="circle sm-margin-lr" src="media/state-toggle.png")
			p Use markup to toggle web component states through CSS animations.
		div(g="6")
			img(g="circle sm-margin-lr" src="media/state-toggle.png")
			p Use markup to toggle web component states through CSS animations.
		div(g="6")
			img(g="circle sm-margin-lr" src="media/state-toggle.png")
			p Use markup to toggle web component states through CSS animations.
		div(g="6")
			img(g="circle sm-margin-lr" src="media/state-toggle.png")
			p Use markup to toggle web component states through CSS animations.