header
	a
		img(src="//placehold.it/200x60.png")
	nav
		ul
			li
				a Testing
			li
				a Testing

div.banner
	div(g="lg-container centered lg-padding-t xlg-padding-b")
		h1(g="bold") State-toggle.js
		h3(g="md-container centered") An easy tool for toggling states and animation through CSS
		pre.language-html(g="md-margin-tb")
			code &lt;button st-state="active">
		button(g="danger md-margin-t") Try It!

div(g="center lg-container")

	h1 Usage
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
	h1 Demos

	<p data-height="268" data-theme-id="10241" data-slug-hash="EawrRX" data-default-tab="result" data-user="PeterOrgana" class='codepen'>See the Pen <a href='http://codepen.io/PeterOrgana/pen/EawrRX/'>EawrRX</a> by Peter Organa (<a href='http://codepen.io/PeterOrgana'>@PeterOrgana</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

	<p data-height="268" data-theme-id="10241" data-slug-hash="VYMgNG" data-default-tab="result" data-user="PeterOrgana" class='codepen'>See the Pen <a href='http://codepen.io/PeterOrgana/pen/VYMgNG/'>VYMgNG</a> by Peter Organa (<a href='http://codepen.io/PeterOrgana'>@PeterOrgana</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

	<p data-height="268" data-theme-id="10241" data-slug-hash="dPVaBq" data-default-tab="result" data-user="PeterOrgana" class='codepen'>See the Pen <a href='http://codepen.io/PeterOrgana/pen/dPVaBq/'>dPVaBq</a> by Peter Organa (<a href='http://codepen.io/PeterOrgana'>@PeterOrgana</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

	<p data-height="268" data-theme-id="10241" data-slug-hash="gbGEQr" data-default-tab="result" data-user="PeterOrgana" class='codepen'>See the Pen <a href='http://codepen.io/PeterOrgana/pen/gbGEQr/'>gbGEQr</a> by Peter Organa (<a href='http://codepen.io/PeterOrgana'>@PeterOrgana</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

	<p data-height="268" data-theme-id="10241" data-slug-hash="gbGEQr" data-default-tab="result" data-user="PeterOrgana" class='codepen'>See the Pen <a href='http://codepen.io/PeterOrgana/pen/gbGEQr/'>gbGEQr</a> by Peter Organa (<a href='http://codepen.io/PeterOrgana'>@PeterOrgana</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

	<p data-height="268" data-theme-id="10241" data-slug-hash="MYERoZ" data-default-tab="result" data-user="PeterOrgana" class='codepen'>See the Pen <a href='http://codepen.io/PeterOrgana/pen/MYERoZ/'>MYERoZ</a> by Peter Organa (<a href='http://codepen.io/PeterOrgana'>@PeterOrgana</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

	footer
		ul(g="lg-padding-tb")
			li Made at <a href="//bnotions.com">@BNOTIONS</a> using <a href="//galaxyui.com">Galaxy UI</a>