

.main(g="centered")
	.slide(g="centered")
		.banner(g="centered xlg-padding-tb")
			.logo
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><style>.style0{stroke-linejoin:	round;stroke:	#fff;stroke-linecap:	round;stroke-miterlimit:	10;stroke-width:	2;}</style><g><path d=" M40.5 27H47v-6h-6.5c-0.4-1.7-1.1-4.4-2-5.8l4.6-4.6l-5.7-5.7l-4.6 4.6c-1.5-0.9-4.1-1.6-5.8-2V1h-6v6.5c-1.7 0.4-4.4 1.1-5.https://github.com/crockpotveggies/tinderbox8 2 l-4.6-4.6l-5.7 5.7l4.6 4.6c-0.9 1.5-1.6 4.1-2 5.8H1v6h6.5c0.4 1.7 1.1 4.4 2 5.8l-4.6 4.6l5.7 5.7l4.6-4.6c1.5 0.9 4.1 1.6 5.8 2 V47h6v-6.5c1.7-0.4 4.4-1.1 5.8-2l4.6 4.6l5.7-5.7l-4.6-4.6C39.4 31.4 40.1 28.7 40.5 27z" class="style0"></path><circle cx="24" cy="24" r="9" class="style0"></circle></g></svg>
			h1 STATE-TOGGLE
			h3 Show, hide, and animate components using HTML and CSS

		
			//- div(g="6")
			//- 	pre.language-markup
			//- 		code &lt;button st-role="target">
			//- 	button(g="lg-margin-t large primary") Try it
			//- div(g="6")
			//- 	pre.language-markup
			//- 		code &lt;button st-role="target">
			//- 	button(g="lg-margin-t large primary") Try it

			section
				//- p State toggle lets you 
	.slide
		div#tableofcontents(g="centered lg-container xlg-padding-t")
			h2 How to use
			h3 There are 3 concepts to understand:
			div(g="center text-left sm-container")
				h3
					a 1. st-group
				h3
					a 2. st-state
				h3
					a 3. st-role
	.slide
		div(g="centered lg-container xlg-padding-t")
			h2 How to use
			h3 There are 3 concepts to understand:
			div(g="center text-left sm-container")
				h3 1. st-group
				h3 2. st-state
				h3 3. st-role
	.slide
		div(g="centered lg-container xlg-padding-t")
			h2 How to use
			h3 There are only 3 concepts to understand:
			div(g="center text-left sm-container")
				h3 1. st-group
				h3 2. st-state
				h3 3. st-role